.div-cart-actions-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.div-cart-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}