.img-item-detail {
    height: 20rem;
    background-color: white;
    white-space: pre-line;
}

.p-item-description {
    margin: 50px 70px 20px 50px;
    font-size: 21px;
}

.div-cart-actions {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.swal-title-white {
  background-color: white;
  color: black;
  display: inline-block; 
  padding: 4px 8px;
  border-radius: 6px;
}